<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Store Management Tool</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Store Management Tool</h1>
    <div class="mt-3">
        <a class="btn btn-primary" href="/view-products">View Products</a>
        <a class="btn btn-success" href="/new-products">Add Product</a>
    </div>
</div>
</body>
</html>
