<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Product</title>
</head>
<body>
<h1>Add Product</h1>
<form action="#" th:action="@{/add-product}" th:object="${product}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" /><br/>
    <label for="price">Price:</label>
    <input type="text" id="price" th:field="*{price}" /><br/>
    <button type="submit">Add Product</button>
</form>
<a href="/">Home</a>
</body>
</html>
